@model MVC_PrintSystem.Models.ViewModels.TopUpViewModel

<form asp-action="PayOnline" method="post">
    <div class="form-group">
        <label asp-for="Amount"></label>
        <input asp-for="Amount" class="form-control" />
        <span asp-validation-for="Amount" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Top Up</button>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}